extends layout

block content
  form
    div
      label
        | Name
        input(type="text" id="name")
    div
      label
        | Type
        input(type="text" id="type")
    div
      label
        | Price
        input(type="text" id="price")
    button(type='button' id='button-post')
      | Add product

  div(id='current-product')
    article(id='current-product-info')
      h1 Current product
      p
        strong SKU: 
        input(type="text" id='current-product-sku')
      p
        strong Name: 
        input(type="text" id='current-product-name')
      p
        strong Type: 
        input(type="text" id='current-product-type')
      p
        strong Price: 
        input(type="text" id='current-product-price')
    button(type='button' id='button-update')
      | Update product
    button(type='button' id='button-delete')
      | Delete product

  div(id='products-container')